body {
  background-color: rgb(139, 224, 206);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  height: 60px;
  background-color: rgb(31, 31, 29);
  color: white;
  width: 100%;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h1 {
  padding-left: 30px;
  font-family: 'Monoton', cursive;
  font-size: 50px;
  color: rgb(31, 31, 29);
  text-align: center;
  letter-spacing: 3px4;
}

#catchPhrase {
  text-align: center;
  font-size: 25px;
  font-family: 'Abel', sans-serif;
}

p{
    margin: 0;
    padding-top: 25px;
    padding-left: 50px;
    float: left;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

#headPhrase {
  text-transform: lowercase;
  color: rgb(31, 31, 29);
}

div.hover :hover{
  background-color: #AF7373;
}

hr {
  max-width: 65%;
  border-color: rgb(31, 31, 29);
}
